@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

a:hover {
    color: #5D4037;
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
